/*************************************** Sign-in / sign-up ************************************************/

.form-container {
	background-color: white;
}

.form-container h2 {
	font-weight: 500;
	font-size: 1.5rem;
	margin: 20px 0;
}

.form-account {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(43, 42, 42, 0.356);
	border-radius: 5px;
	padding: 30px;
}

.name-row {
	display: flex;
	justify-content: space-between;
}

.name-elem {
	width: calc(50% - 10px);
	display: flex;
	flex-direction: column;
}

@media (max-width: 550px) {
	.name-row {
		display: flex;
		flex-direction: column;
	}

	.name-elem {
		width: 100%;
	}
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin: 5px 0 4px;
}

.checkbox-container label,
input[type="checkbox"] {
	margin: 0 2px;
}

.form-account a {
	color: var(--text-light);
	font-size: 0.8rem;
}

.form-account a:hover {
	text-decoration: underline;
}
