@import url(/css/style.css);
@import url(/css/form.css);
/*************************************** Sign-in / sign-up ************************************************/

.form-container {
	background-color: white;
}

.form-container h2 {
	font-weight: 500;
	font-size: 1.5rem;
	margin: 20px 0;
}

.form-account {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--separator-light);
	border-radius: 5px;
	padding: 30px;
}

.form-account a {
	color: var(--text-light);
	font-size: 0.8rem;
}

.form-account a:hover {
	text-decoration: underline;
}
