@import url(/css/style.css);
@import url(/css/form.css);


.edit-product{

    display: flex;
    justify-content: center;
}

.edit-product-form{
    width: 60vw;
    max-width: 600px;
    min-width: 400px;
}

#save{
    margin: 20px auto;
}