
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    -webkit-user-drag: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
/**************************** home-categories ************/

.home-categories{
    padding: 50px;
    background-color: rgb(249, 249, 249);
}

.card-categories-container{
    display: flex;
    justify-content: space-evenly;
}

.card-categories{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 15px;
    max-width: 25vw;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.151);
    background:linear-gradient(0deg, rgb(238, 237, 243), rgb(233, 230, 250));
}

.card-categories-container img{
    padding: 5px;
    width: 100%;
    
}
.card-categories-container h2, .card-categories-container p, .view-more-btn{
    margin: 10px 0px;
}

h2{
    font-size: 1.2rem;
}
p{
    font-size: 0.9rem;
    margin-top: 100px;
}

.view-more-btn{
    border: 1px solid rgba(0, 0, 0, 0.404);
    padding: 4px 10px;
    margin-top: 100px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: rgb(85, 84, 84);
    cursor: pointer;
    }

.view-more-btn:hover{
    color: rgba(245, 61, 61, 0.705);
    border: 1px solid rgba(245, 61, 61, 0.705);
    transition: 0.2s;
}

/***************** Fare-products*****************/

.fare-products h2{
    text-align: center;
    margin: 50px;
    font-size: 3rem;
    font-weight: 300;
}

.products-container{
    display: flex;
	flex-wrap: wrap;
	align-items: baseline;
    justify-content: center;
	align-content: space-evenly
}
.item-container{
    border-radius: 10px;
    max-width: 350px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.img-item-container{
    width: 250px;
    height: 250px;
    background-color: rgba(224, 221, 241, 0.479);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container img{
    width: 90%;
    height: 90%;
    object-fit: cover; 
}

.item-container h3{
    display: inline-block;
    font-size: 0.9rem;
    margin: ;
}
#categorie-item{
    font-weight: 200;
    font-size: 0.8rem;
}
#name-item{
    font-weight: 300;
    font-size: 1.2rem;
} 
#price-item{
    font-style: italic;
    font-size: 1rem;
    font-weight: 100;
}
/**************** Responsive **************/

@media screen and (max-width: 800px) {
    .card-categories-container{
        flex-direction: column;
        align-items: center;
    }
    .card-categories{
        max-width: 75vw;
        width: 75vw;
        height: 100%;
        margin: 20px 0;
    }

    /*.item-container{
        width: 50vw;
    }*/

   /* @media screen and (max-width: 600px) {
        .item-container{
            width: 100vw;
        }
    }*/
}